body{font-family: "Roboto", Verdana, Geneva, Tahoma,sans-serif;}
body{color:  #757575;}

.list{list-style: none;}

.link {text-decoration: none;}


/*-----Header---*/

.header {background-color: #ffffff;}

.logo {font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    color: #2196F3;}

.logo-part {color: #000000}


.nav-link {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    cursor: pointer;}


.nav-link:active{color: #2196F3;}

.header-contacts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #2196F3;}

.header-contacts:active{color: #2196F3;}


/*------Hero------*/

.hero{background-color: #2F303A;}

.hero-text{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: #757575;}  

.hero-btn {font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;;
background-color: #2196F3;
border: 1px solid transparent;}
.hero-btn:hover{background: #2196F3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;}
.hero-btn{cursor: pointer;}

/*-------advantage----------*/

.advantage-title {color: transparent;}

.advantage-list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: #212121;}



.advantage-list-text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;    }


/*-------About work----------*/

.work-title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}


/*-------Work team----------*/

.work-team-title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}
  

.work-team-list-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}


.work-team-item-text {
    font-family: 'Roboto';
font-style: normal;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: #757575;}
  


/*-------Footer----------*/

footer{background-color: #2F303A;}

.logo-footer{font-family: 'Raleway';
    font-style: normal;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;}

.logo-footer-part{color: #ffffff;}

.location-on-map{
font-family: 'Roboto';
font-style: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #FFFFFF;}


.contact-tel{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}


.contact-email{
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}

/*---------Portfolio----------*/
.selection{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}
     
.selection:hover{cursor: pointer;}
.selection:active{background-color: #2196F3;}


.portfolio-list-link{border:#2196F3;}


.potfrolio-list-title {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: #212121;}


.portfolio-list-text {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;}


