body{font-family: "Roboto";}

.list{list-style: none;}

.link {text-decoration: none;}


/*-----Header---*/

.header {background-color: #ffffff;}

.logo-header {font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    color: #2196F3;}

.logo-part {color: #000000}
.logo-header:hover{text-decoration:underline;}



.nav-link {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;}

.nav-link:hover{text-decoration: underline #2196F3;}, 
.nav-link:active{color: #2196F3;}

.header-contacts{font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;}

.header-contacts:hover{text-decoration: underline #2196F3;}
.header-contacts:active{color: #2196F3;}


/*------Hero------*/

.hero-text{font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;    
    color: #2196F3;}

.hero-btn {font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
background-color: #2196F3;
border: 1px solid transparent;}

/*-------приимущества----------*/




    

