body{
    font-family: "Roboto", sans-serif; 
    color:  #757575;}


.list{list-style: none;}

.link {text-decoration: none;}

:root{
--brand-color:#212121;
--secondary-color:#2196F3;
}


/*-----Header---*/

.header {background-color: #ffffff;}

.logo {font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;   
    letter-spacing: 0.03em;
    color: var(--secondary-color);}

.logo-part {color: #000000}


.nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--brand-color);
    cursor: pointer;}


.nav-link:focus{color:var(--secondary-color);}

.nav-link.link.current {color:var(--secondary-color);}

.header-contacts{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;}

.header-contacts:focus{color: var(--secondary-color);}


/*------Hero------*/

.hero{background-color: #2F303A;}

.hero-text{
    font-size: 14px;
    line-height: 1.71; 
    letter-spacing: 0.03em;
    color: #FFFFFF;}  

.hero-btn {
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;;
background-color: var(--secondary-color);
border: 1px solid transparent;}
.hero-btn:hover{background: var(--secondary-color);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;}
.hero-btn{cursor: pointer;}

/*-------advantage----------*/

.advantages{background: #F5F5F5;}

.advantage-title {color: transparent;}

.advantage-list-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;    
    color: var(--brand-color);}



.advantage-list-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }


/*-------About work----------*/

.about-work{background: #F5F5F5;}

.work-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);}


/*-------Work team----------*/

.work-team {background: #F5F4FA;}

.work-team-title {
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--brand-color);}
  

.work-team-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);}


.work-team-item-text {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
   }
  


/*-------Footer----------*/

footer{background-color: #2F303A;}

.logo-footer{font-family: 'Raleway';
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--secondary-color);}

.logo-footer-part{color: #ffffff;}

.location-on-map{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;}


.contact-tel{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}


.contact-email{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);}

/*---------Portfolio----------*/

.project-list{background: #F5F5F5;}

.selection{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--brand-color);}
     
.selection:hover{cursor: pointer;}
.selection:hover{background-color: var(--secondary-color);}

.potfrolio-list-title {
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--brand-color);}


.portfolio-list-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: #757575;}


